* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    }
html {
    width: 1920px;
}


/* start header*/
.container {
    margin: 0 auto;
    width: 1440px;
}

.header {
    height: 150px;
    background-color: black;
}
.logo_item {
    background-image: url(/museum/assets/svg/Vector.svg);
    width: 49px;
    height: 26px;
    opacity: 0.7;
}
.logo_item:hover {
    opacity: 1;
    cursor: pointer;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo_name {
    color: white;
    text-transform: uppercase;
    padding-left: 25px;
    font-size: 28px;
    font-family: 'Forum';
    letter-spacing: 5px;
    font-weight: 400;
    opacity: 0.5;
}

.logo_name:hover {
    text-decoration: underline;
    opacity: 1;
    cursor: pointer;
}

.navigation {
    width: 775px;
}

.naigation_decoration {
    padding: 0;
    display: flex;
    justify-content: space-between;
  
}

ul li a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    opacity: 0.5;
    font-weight: 200;
}
ul li a:hover {
    opacity: 1;
    color: #9D8665;
    
}
ul li a:active {
    opacity: 1;
    color: #7E6C51;
       
}

/* Start section Welcome */

.welcome {
    height: 810px;
    background: #030303;
    ;

}
.welcome_description {
    padding-top: 150px;
    padding-top: 355px;
}

h1 {
    font-family: 'Forum';
    font-size: 80px;
    font-weight: normal;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 90px;
    position: absolute;
    width: 593px;
    top: 300px;
}

p {
    font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    padding-top: 25px;
    padding-bottom: 75px;
}

.welcome_button {
    font-family: 'Roboto';
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 26px;
    color: #FFFFFF;
    width: 360px;
    height: 75px;
    padding: 0;
    font-size: 22px;
    background-color: #710707;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}
.welcome_button:hover {
    background: #9D8665;

}

.image {
    background-image: url(/museum/assets/img/1.png);
    background-repeat: no-repeat;
    width: 1000px;
    height: 810px;
}

.background_container {
    display: flex;
}

/* Start slider */
.slider {
    width: 600px;
    height: 120px;
    position: absolute;
    top: 840px;
    left: 1080px;
    background: #030303;
    display: flex;
    justify-content: space-between;
    padding: 0 74px 0 74px;
}
.slider_numbers {
    display: flex;
    color: white;
    align-items: center;
    font-family: 'Roboto';
    font-size: 22px;
}
.number {
    padding-right: 25px;
    line-height: 40px;
    text-transform: uppercase;
}

.carousel {
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: center;
}
.carousel_item_1, .carousel_item_2, .carousel_item_3, .carousel_item_4, .carousel_item_5 {
    width: 16px;
    height: 16px;
    background-color:#FFFFFF;
    cursor: pointer;
}
.carousel_item_1 {
    background-color: #D2B183;
    
}
.carousel_item_1:hover {
    background-color: #9D8665;

}

.arrows {
    display: flex;
    align-items: center;
    width: 80px;
}
.arrows_item_1, .arrows_item_2 {
    background-image: url(/museum/assets/img/←.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 8px;
    cursor: pointer;
}
.arrows_item_1:hover {
    background-image: url(/museum/assets/img/arrow.png);
    cursor: pointer;
}

.arrows_item_2 {
    transform: rotate(180deg);
    
}
.arrows_item {
    width: 20px;
}

/* Start section Virtual Tour */
.virual_tour {
   background-color: white;
}

h2 {
    font-family: 'Forum';
    font-size: 80px;
    font-weight: normal;
    color: #9D8665;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 75px;
    padding-bottom: 10px;
}

.virtual_tour_container {
    border-top: 3px solid #710707;
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.image_description {
    background-image: url(/museum/assets/img/Rectangle.jpg);
    background-repeat: no-repeat;
    width: 440px;
    height: 285px;
}

.image_description_denon {
    background-image: url(/museum/assets/img/Denone.jpg);
    background-repeat: no-repeat;
    width: 440px;
    height: 285px;
}

.image_description_colonnade {
    background-image: url(/museum/assets/img/cononade.jpg);
    background-repeat: no-repeat;
    width: 440px;
    height: 285px;
}
.image_description_greek {
    background-image: url(/museum/assets/img/greek.jpg);
    background-repeat: no-repeat;
    width: 440px;
    height: 285px;
}
.image_description_mona {
    background-image: url(/museum/assets/img/mona_lisa.jpg);
    background-repeat: no-repeat;
    width: 440px;
    height: 285px;
}
.image_description_night {
    background-image: url(/museum/assets/img/night.jpg);
    background-repeat: no-repeat;
    width: 440px;
    height: 285px;
}
.tour_title {
    font-family: 'Forum';
    font-size: 32px;
    font-weight: normal;
    color: #000000;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.line {
    border-top: 2px solid #710707;
    width: 300px;

}
.tour_description_method {
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 26px;
    color: #000000;
    padding: 10px 0 0 0;
}

.tour_description_panorama {
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 21px;
    color: #000000;
    padding: 10px 0 0 0;
}
.tour_info {
    padding-bottom: 75px;
}