* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    }
html {
    width: 1920px;
}


/* start header*/
.container {
    margin: 0 auto;
    width: 1440px;
}

.header {
    height: 150px;
    background-color: black;
}
.logo_item {
    background-image: url(/museum/assets/svg/Vector.svg);
    width: 49px;
    height: 26px;
    opacity: 0.7;
}
.logo_item:hover {
    opacity: 1;
    cursor: pointer;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo_name {
    color: white;
    text-transform: uppercase;
    padding-left: 25px;
    font-size: 28px;
    font-family: 'Forum';
    letter-spacing: 5px;
    font-weight: 400;
    opacity: 0.5;
}

.logo_name:hover {
    text-decoration: underline;
    opacity: 1;
    cursor: pointer;
}

.navigation {
    width: 775px;
}

.naigation_decoration {
    padding: 0;
    display: flex;
    justify-content: space-between;
  
}

ul li a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    opacity: 0.5;
    font-weight: 200;
}
ul li a:hover {
    opacity: 1;
}

